@model RollLogin.Models.Emps

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Emps</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ename)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ename)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desingnation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desingnation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
